
img {
  max-width: 100%;
}

img, svg {
  display: block;
}

.card-button{
  background-color: rgb(85, 239, 196) !important;
  width: 100% !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 700 !important;
  padding: 8px 18px !important;
  border-color:  rgb(85, 239, 196) ;
  border-radius: 8px !important;
  text-transform: none !important;
  margin: 5px 0 !important;
}

.Grid{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.card{
  width: 20rem;
  border-radius: 2rem !important;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background-color: white;
  height: fit-content;
  padding: 8px 16px;
}

.card-logo{
  justify-content: left;
  width: 25px;
  height: 2.5rem;
}

.card-body{
 width: 100%;
}

.card-info-container >a{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.card-info-container >h2 {
  font-size: 14px;
  line-height: 1.5;
  justify-content: left;
}

 .card-subtext {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.card-salary{
  font-weight: 400;
}

 .about-company{
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

 .experience{
  margin-top: 10px;
  display: block;

}
 
        
