
img {
  max-width: 100%;
}

img, svg {
  display: block;
}

.card-button{
  background-color: rgb(85, 239, 196) !important;
  width: 100% !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 700 !important;
  padding: 6px 18px !important;
  border-color:  rgb(85, 239, 196) ;
  border-radius: 8px !important;
  text-transform: none !important;
  margin-right: 5px 0 !important;
}

.card{
  display: flex;
  flex-flow: wrap;
  width: 20rem;
  border-radius: 2rem !important;
  box-shadow: 0px 10px 8px #999;
  flex-direction: column;
  /* margin: 0.5rem; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  background-color: white;
  height: fit-content;
  padding: 8px 16px;
}

.card-post{
  width: max-content;
  padding: 4px 6px;
  border-radius: 10px !important;
  border: 1px solid;
  border-color: #a19f9f;
  margin: 10px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 9px;
}

 .card-logo{
  justify-content: left;
  width: 25px;
  height: 2.5rem;
}

/* .card-body{
 width: 100%;
} */

/* .card-info-container >a{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}

.card-info-container >h2 {
  font-size: 14px;
  line-height: 1.5;
  justify-content: left;
} */

 .card-subtext {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
}

.card-salary{
  font-size: 14px !important;
  font-weight: 500;
  color: #8b8b8b;
}

 .about-company{
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.about-us{
  font-weight: bold !important;
}

.job-details{
  font-size: 14px !important;
  line-height: 1.5 !important;
}

 .experience{
  margin-top: 10px;
  display: block;

}
 
        
