
img {
  max-width: 100%;
}

img, svg {
  display: block;
}

.clear-icon{
  color: rgb(204, 204, 204);
  padding-right: 5px;
  height: 17px !important;
}


.card{
  width: 20rem;
  border-radius: 2rem !important;
  box-shadow: 0px 10px 8px #999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  height: fit-content;
  padding: 8px ;
}

.card-button{
  background-color: rgb(85, 239, 196) !important;
  width: 100% !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 700 !important;
  padding: 6px 18px !important;
  border-radius: 8px !important;
  text-transform: none !important;
  /* margin-top: 5px 0 !important; */
}

.card-post{
  width: max-content;
  padding: 4px 6px;
  border-radius: 10px !important;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;
  margin: 10px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 9px;
}

 .card-logo{
  justify-content: left;
  width: 25px;
  height: 2.5rem;
}

/* .card-body{
 width: 100%;
} */

.company-name{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
  text-decoration: none;
}

/* .card-info-container >h2 {
  font-size: 14px;
  line-height: 1.5;
  justify-content: left;
} */

 /* .card-subtext {
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
} */

.card-salary{
  font-size: 14px !important;
  font-weight: 500;
  color: #8b8b8b;
}

 .about-company{
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.about-us{
  font-weight: bold !important;
}

.read-more{
  text-decoration: none !important;
  font-size: 12px !important;
}

.job-details{
  font-size: 14px !important;
  line-height: 1.5 !important;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

 .experience{
  font-size: 14px !important;
  line-height: 1.5 !important;
}

.filter-title{
  font-size: 13px !important;
}

.select-role{
  height: 36px !important;
}

.search-company{
  font-size: 13px !important;
  height: 36px !important;  
}


        
